<div>
  <table>
    <thead>
      <th>
        LogManager v <%= LogManager::VERSION %> | <%= t :environment %>: <%= @environment %>
      </th>
    </thead>
    <tbody>
      <% @file_data.each do |line| %>
        <tr>
          <td><%= line %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
